<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex + justify-content + align-items</title>
  <style>
    .parent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 200px;
      background-color: aliceblue;
    }
    .child{
      background-color: #ccc;
    }
  </style>
</head>

<body>
  <!-- 
    原理：通过设置CSS3布局利器flex中的justify-content和align-items，从而达到水平垂直居中。详见：水平居中的flex + justify-content和垂直居中的flex + align-items。
    用法：见：水平居中的flex + justify-content和垂直居中的flex + align-items。
    优点：只设置了parent
    缺点：兼容性存在一定问题
   -->
  <div class="parent">
    <div class="child">DEMO</div>
  </div>
</body>

</html>