<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>absolute+transform</title>
  <style>
    .parent {
      position: relative;
      background-color: aliceblue;
      height: 100px;
    }
    .child {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      background-color: #ccc;
    }
  </style>
</head>

<body>
  <!-- 
    原理：类似于水平居中时的absolute+transform原理。将子框设置为绝对定位，移动子框，使子框上边距离相对框上边边框的距离为相对框高度的一半，再通过向上移动子框的一半高度以达到垂直居中。当然，在此之前，我们需要设置父框为相对定位，使父框成为子框的相对框。
    用法：先将父框设置为position:relative，再设置子框position:absolute，top:50%，transform:translateY(-50%)。
    优点：居中元素不会对其他的产生影响
    缺点：transform属于css3内容，兼容性存在一定问题，高版本浏览器需要添加一些前缀
   -->
  <div class="parent">
    <div class="child">DEMO</div>
  </div>
</body>

</html>